/* Lama et nuage page de login */
.shadowcircle {
    position: absolute;
    opacity: 0.65;
    top: 260px;
    right: -190px;
    filter: drop-shadow(1px 15px 10px);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .shadowcircle {
        display: none;
    }
}

.clouds {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    opacity: 0.5;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .clouds {
        widows: 50px;
        height: 50px;
        top: 65%;
    }
}

.clouds div,
.clouds div::before,
.clouds div::after {
    border-radius: 50% 50% 0 0/100% 100% 0 0;
    bottom: 0;
}

.clouds div {
    background-color: #f0aea5;
    position: absolute;
}

.clouds div:first-child {
    width: 20vmin;
    height: 10vmin;
    top: 5%;
    left: 10%;
}

.clouds div:first-child::before {
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    background-color: #f3bdb6;
    left: -20%;
}

.clouds div:first-child::after {
    content: "";
    width: 30%;
    height: 30%;
    position: absolute;
    background-color: #f2b5ae;
    right: -15%;
}

.clouds div:last-child {
    width: 30vmin;
    height: 15vmin;
    top: 15%;
    right: 10%;
}

.clouds div:last-child::before {
    content: "";
    width: 40%;
    height: 40%;
    position: absolute;
    background-color: #f4c1bb;
    left: -15%;
}

.clouds div:last-child::after {
    content: "";
    width: 70%;
    height: 70%;
    position: absolute;
    background-color: #f3b9b2;
    right: -25%;
}

.alpaca {
    width: 20vmin;
    height: 30vmin;
    position: relative;
    right: 30%;
    bottom: 70px;
    filter: drop-shadow(0px 10px 5px);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .alpaca {
        width: 30vmin;
        height: 40vmin;
        top: 55px;
        left: 3%;
    }
}

.alpaca__top,
.alpaca__btm {
    width: 100%;
    height: 50%;
    position: relative;
}

.alpaca__top {
    justify-content: space-between;
}

.head {
    width: 40%;
    height: 100%;
    position: relative;
    align-items: flex-end;
}

.head__ears {
    width: 100%;
    height: 28%;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
}

.head__ears div {
    background-color: #75c9b1;
    width: 25%;
    height: 100%;
    width: 25%;
    position: relative;
}

.head__ears div::after {
    content: "";
    width: 62%;
    height: 72%;
    position: absolute;
    background-color: #23646f;
    bottom: 5%;
}

.head__ears div:first-child,
.head__ears div:first-child::after {
    border-radius: 100% 0 0 100%/50% 0 0 50%;
}

.head__ears div:first-child {
    transform-origin: 100% 100%;
    transform: rotate(0);
    -webkit-animation: twitch-ear-left 10s 3s infinite ease-in-out;
    animation: twitch-ear-left 10s 3s infinite ease-in-out;
}

.head__ears div:first-child::after {
    right: 10%;
}

.head__ears div:last-child,
.head__ears div:last-child::after {
    border-radius: 0 100% 100% 0/0 50% 50% 0;
}

.head__ears div:last-child {
    transform-origin: 0 100%;
    transform: rotate(0deg);
    -webkit-animation: twitch-ear-right 10s 3.1s infinite ease-in-out;
    animation: twitch-ear-right 10s 3.1s infinite ease-in-out;
}

.head__ears div:last-child::after {
    left: 10%;
}

.head__face-neck {
    width: 100%;
    height: 75%;
    background-color: #75c9b1;
    border-radius: 50% 50% 0 0/30% 30% 0 0;
}

.head__face-neck .face {
    position: relative;
    width: 100%;
    height: 40%;
    flex-direction: column;
    align-items: center;
    margin-top: 36%;
}

.head__face-neck .face::before {
    content: "";
    width: 70%;
    height: 100%;
    position: absolute;
    background-color: #9ad7c6;
    border-radius: 50%;
}

.head__face-neck .eyes,
.head__face-neck .cheeks,
.head__face-neck .nose,
.head__face-neck .mouth {
    z-index: 10;
}

.head__face-neck .eyes {
    width: 76%;
    height: 45%;
    justify-content: space-between;
    margin-top: -5%;
}

.head__face-neck .eyes div {
    width: 35%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.head__face-neck .eyes div::after {
    content: "";
    width: 45%;
    height: 45%;
    position: absolute;
    background-color: #23646f;
    border-radius: 50%;
    -webkit-animation: blink 5s infinite ease-in-out;
    animation: blink 5s infinite ease-in-out;
}

.head__face-neck .cheeks {
    width: 90%;
    height: 25%;
    justify-content: space-between;
    margin-top: 3%;
}

.head__face-neck .cheeks div {
    width: 18%;
    height: 100%;
    background-color: #e87e70;
    border-radius: 50%;
}

.head__face-neck .snout {
    position: absolute;
    width: 77%;
    height: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: -4%;
}

.head__face-neck .snout::before {
    content: "";
    width: 70%;
    height: 100%;
    position: absolute;
    background-color: #b7e3d6;
    border-radius: 50%;
}

.head__face-neck .nose {
    width: 20%;
    height: 15%;
    background-color: #23646f;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    margin-top: 5%;
}

.head__face-neck .mouth {
    width: 50%;
    height: 25%;
    background-color: #23646f;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    margin-top: 5%;
    -webkit-animation: smile 4s 0.5s infinite ease-in-out;
    animation: smile 4s 0.5s infinite ease-in-out;
}

.tail {
    border-radius: 0 100% 100% 0/0 50% 50% 0;
    background-color: #75c9b1;
    width: 10%;
    height: 30%;
    align-self: flex-end;
    transform-origin: 0% 100%;
    transform: rotate(0);
    -webkit-animation: flick-tail 8s 1.5s infinite ease-in-out;
    animation: flick-tail 8s 1.5s infinite ease-in-out;
}

.body {
    background-color: #75c9b1;
    width: 90%;
    height: 55%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 50% 50%/0 0 60% 60%;
    align-items: center;
    justify-content: flex-end;
}

.body .spots,
.body .spots::after,
.body .spots::before {
    border-radius: 50%;
}

.body .spots {
    width: 0;
    height: 0;
    position: relative;
    right: 16%;
    bottom: 13%;
    border-top: 6.5vmin solid #acdfd0;
    border-right: 2.5vmin solid transparent;
    border-left: 2.5vmin solid transparent;
}

.body .spots::before,
.body .spots::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    background-color: transparent;
    border-top: 5vmin solid #acdfd0;
    border-right: 2vmin solid transparent;
    border-left: 2vmin solid transparent;
    transform-origin: 50% 0;
}

.body .spots::before {
    left: -130%;
    transform: rotate(55deg) translate3d(0, -90%, 0);
}

.body .spots::after {
    right: -130%;
    transform: rotate(-55deg) translate3d(0, -90%, 0);
}

.legs {
    width: 90%;
    height: 100%;
    justify-content: space-between;
}

.legs__front,
.legs__back {
    width: 45%;
    height: 100%;
    position: relative;
}

.legs__front div,
.legs__back div {
    width: 55%;
    height: 90%;
    background-color: #75c9b1;
    position: absolute;
}

.legs__front div::after,
.legs__back div::after {
    content: "";
    width: 35%;
    height: 50%;
    position: absolute;
    background-color: #75c9b1;
    bottom: -20%;
}

.legs__front div:first-child,
.legs__front div:first-child::after,
.legs__back div:first-child,
.legs__back div:first-child::after {
    background-color: #23646f;
}

.legs__front div {
    border-radius: 0 0 100% 100%/0 0 25% 25%;
}

.legs__front div:first-child::after,
.legs__front div:last-child::after {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.legs__front div:last-child {
    right: 0;
}

.legs__back div {
    border-radius: 0 0 0 100%/0 0 0 30%;
}

.legs__back div:last-child,
.legs__back div:last-child::after,
.legs__back div:first-child::after {
    right: 0;
}

@-webkit-keyframes blink {
    0% {
        height: 45%;
    }

    2% {
        height: 0%;
    }

    4% {
        height: 45%;
    }

    6% {
        height: 0%;
    }

    8% {
        height: 45%;
    }

    100% {
        height: 45%;
    }
}

@keyframes blink {
    0% {
        height: 45%;
    }

    2% {
        height: 0%;
    }

    4% {
        height: 45%;
    }

    6% {
        height: 0%;
    }

    8% {
        height: 45%;
    }

    100% {
        height: 45%;
    }
}

@-webkit-keyframes flick-tail {
    0% {
        transform: rotate(0);
    }

    2% {
        transform: rotate(45deg);
    }

    6% {
        transform: rotate(-10deg);
    }

    9% {
        transform: rotate(45deg);
    }

    12% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes flick-tail {
    0% {
        transform: rotate(0);
    }

    2% {
        transform: rotate(45deg);
    }

    6% {
        transform: rotate(-10deg);
    }

    9% {
        transform: rotate(45deg);
    }

    12% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}

@-webkit-keyframes twitch-ear-left {
    0% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(-45deg);
    }

    8% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0sdeg);
    }
}

@keyframes twitch-ear-left {
    0% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(-45deg);
    }

    8% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0sdeg);
    }
}

@-webkit-keyframes twitch-ear-right {
    0% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(45deg);
    }

    8% {
        transform: rotate(0deg);
    }

    51% {
        transform: rotate(0deg);
    }

    53% {
        transform: rotate(45deg);
    }

    55% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes twitch-ear-right {
    0% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(45deg);
    }

    8% {
        transform: rotate(0deg);
    }

    51% {
        transform: rotate(0deg);
    }

    53% {
        transform: rotate(45deg);
    }

    55% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes smile {
    0% {
        height: 25%;
    }

    70% {
        height: 25%;
    }

    75% {
        height: 40%;
    }

    80% {
        height: 40%;
    }

    85% {
        height: 5%;
    }

    90% {
        height: 20%;
    }

    95% {
        height: 5%;
    }

    100% {
        height: 25%;
    }
}

@keyframes smile {
    0% {
        height: 25%;
    }

    70% {
        height: 25%;
    }

    75% {
        height: 40%;
    }

    80% {
        height: 40%;
    }

    85% {
        height: 5%;
    }

    90% {
        height: 20%;
    }

    95% {
        height: 5%;
    }

    100% {
        height: 25%;
    }
}

/* Blague du jour CSS */

@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Dosis:wght@300&family=Neonderthaw&display=swap");

span.phrasedujour {
    color: rgb(0, 0, 0);
    display: block;
    font-size: 24px;
    padding-bottom: 18px;
    text-decoration: underline;
}

#QuoteOFDay {
    color: rgb(204, 19, 19);
    font-size: 24px;
    font-family: "Dosis", sans-serif;
    line-height: 1, 5em;
    font-style: italic;
    z-index: 50;
}

.letter {
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0px 5% 0px;
    max-width: 550px;
    min-height: 300px;
    padding: 24px;

    grid-area: letter;

    width: 80%;

}

.letter:before,
.letter:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.letter:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    left: -5px;
    top: 4px;
    transform: rotate(-2.7deg);
    -webkit-transform: rotate(-2.7deg);
    -moz-transform: rotate(-2.7deg);
}

.letter:after {
    background: #f6f6f6;
    box-shadow: 1px 0 8px rgba(0, 0, 0, 0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
    -webkit-transform: rotate(1.4deg);
    -moz-transform: rotate(1.4deg);
}

.blablagues .text_head {
    font-size: 23px;
    line-height: 1em;
    padding: 5px;
}

.testcopy {
    display: none;
}

.text {
    line-height: 1.1em;
    font-size: 22px;
}

.custom-btn {
    width: 270px;
    height: 40px;
    color: rgb(8, 123, 255);
    border-radius: 5px;
    text-decoration: underline;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    left: 85%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
}

.btn-2 {
    background: rgba(1, 0, 82, 0.109);
    border: none;
}

.btn-2:before {
    height: 0%;
    width: 2px;
}

.btn-2:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
        -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.bakcgroundgrad {
    border-radius: 20px;
    background: linear-gradient(0deg,
            rgba(0, 33, 176, 0.4906163148853291) 0%,
            rgba(0, 169, 237, 0.4598039899553571) 100%);
    border: thick double #32a1ce;
    box-shadow: rgba(22, 22, 22, 0.35) 0px 5px 15px;
}

.buttonactivate {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: -200px;
    bottom: 5px;
    z-index: 10;
    padding-bottom: 28px;
}

.codebar {
    position: relative;
    display: inline-flex;
    height: 45px;
    perspective: 1000px;
    z-index: 10;
    padding-bottom: 5px;
    /* Bouton pour activer le mode code bar */
}

.btn-3 a {
    font-size: 19px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform 0.25s;
    z-index: 10;
}

.btn-3 a:before,
.btn-3 a:after {
    position: absolute;
    content: "Démarrer";
    background-color: rgb(241, 241, 241);
    height: 50px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #145ed6;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 10;
}

.btn-3 a:before {
    content: "|| |||| ||| ||| | ||";
    height: 50px;
    color: rgb(0, 0, 0);

    transform: rotateY(0deg) translateZ(25px);
    z-index: 10;
}

.btn-3 a:after {
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
    z-index: 10;
}

.btn-3 a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
    z-index: 10;
}

.scanette {
    width: 90px;
    height: 90px;
    transform: rotate(-35deg);

    right: 475px;
    bottom: 38px;
    position: absolute;
    z-index: 1;
}

.name {
    position: relative;
    left: 450px;
    bottom: 30px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.noselect {
    width: 295px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(61, 1, 1);
    background: white;
    border: 2px solid #32a1ce;
    box-shadow: 5px 5px 0 #04b8ff;
    -webkit-box-shadow: -5px -5px 0 black;
    -moz-box-shadow: -5px 5px 0 black;
    -ms-user-box-shadow: 5px -5px 0 black;
    transition: 500ms ease-in-out;
    margin-top: 18px;
}

.noselect:hover {
    box-shadow: 20px 5px 0 rgb(65, 0, 245), -20px -5px 0 rgb(25, 0, 255);
}

.noselect:focus {
    outline: none;
}

#desactivate {
    display: none;
    padding-bottom: 5px;
}

.kevin {
    position: absolute;
    left: 18px;
    color: rgb(255, 255, 255);
}

/* Css variables stages sur dashboard */



.var_text {
    text-decoration: underline;
    font-weight: 700;
    position: relative;
    text-align: left;
    color: black;
    font-size: 20px;
}

.varDébut {
    font-family: "Calibri";
    position: relative;
    text-align: left;
    color: red;
    font-size: 22px;
}

.varEtabl {
    font-family: "Calibri";
    position: relative;
    text-align: left;
    color: rgb(0, 116, 241);
    font-size: 22px;
}

.nb_jours {
    text-decoration: double underline;
    font-style: italic;
    text-shadow: rgba(0, 0, 0, 0.382) 1px 5px 5px;
    text-align: left;
    position: relative;
}

.compta_etudiant {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.nb_student {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nb_famille {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nb_inter {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container_dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas:
        "letter var_stage compta_etudiant";

}

.var_stage {
    grid-area: var_stage;
}

.compta_etudiant {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    padding: 20px;
    gap: 5px;
    text-align: center;
    align-content: center;
    height: fit-content;
}

.compta {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    gap: 5px;
    text-align: center;
    align-content: center;
    background-color: white;
}

.compta_total {
    grid-area: compta_etudiant;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.info_compta {
    text-decoration: underline;
    font-size: 1.5em;
}

.total_attente_payer {
    display: flex;
    flex-direction: column;
}

.attente {
    text-decoration: underline;
    text-decoration-color: red;
}

.payer {
    text-decoration: underline;
    text-decoration-color: rgb(0, 189, 31);
}

.partiel {
    text-decoration: underline;
    text-decoration-color: rgb(255, 187, 0);
}