@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@media (max-width: 575px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
}

@media (min-width: 576px) {
    .day {
        height: 14.2857vw;
    }
}

.h-16 {
    height: 4.5rem;
}


